.app-language {
    @include size(160px, 50px);
    display: block;

    margin: 0;
    overflow: hidden;

    position: absolute;
    top: config(offsettop); right: config(offsetleft);
    z-index: index(one);

    border-radius: config(radius);
    border: color(border) solid 3px;

    background-color: white;

    select {
        @include size(100%);
        position: relative;
        display: block;

        border: 0;
        background: transparent;

        color: color(text_secondary);
        font: {
            size: size(f7);
            weight: weight(bold);
        }

        cursor: pointer;

        &:focus { outline: none; }
    }

    @include maxquery(lg) {
        width: 120px;
        top: 2.5vh;
        background-position: 90px 14px;
    }
}
