.notification {
    @include size(500px, auto);
    background-color: transparent;
    padding: 20px;
    font-size: 0;
    border-radius: 5px;

    &-error { background-color: color(error); }
    &-success { background-color: color(success); }
    &-warn { background-color: color(warning); }
    &-info { background-color: color(info); }

    &-icon,
    &-content {
        display: inline-block;
        vertical-align: top;
    }

    &-icon {
        @include size(40px);
        margin-right: 30px;
    }

    &-content {
        width: calc(100% - 70px);

        h5, p {
            display: block;
            margin: 0;
            color: white;
            font-weight: weight(bold);
            line-height: line(xs);
        }

        h5 {
            font-size: size(f6);
            margin-bottom: 10px;
        }

        p {
            font-size: size(f8);
            line-height: line(sm);
        }
    }

    &-error {
        .notification-icon {
            @include background-image('error-icon.svg', center, no-repeat, 40px);
        }
    }

    &-success {
        .notification-icon {
            @include background-image('success-icon.svg', center, no-repeat, 40px);
        }
    }

    &-warn {
        .notification-icon {
            @include background-image('warn-icon.svg', center, no-repeat, 40px);
        }
    }

    &-info {
        .notification-icon {
            @include background-image('info-icon.svg', center, no-repeat, 40px);
        }
    }

}
