.tt-input {
    @include size(100%, config(inputheight));
    display: inline-block;
    vertical-align: middle;

    margin: 0;
    padding: 0 30px;

    border: transparent solid 3px;
    border-radius: 5px;
    background-color: white;

    color: color(text_secondary);
    font: {
        size: size(f6);
        weight: weight(regular);
    }
    line-height: config(inputheight);
    letter-spacing: 1px;

    transition: all config(transition) ease-in-out;
    will-change: auto;

    appearance: none;
    -webkit-appearance: none;

    @include box-shadow(0 10px 30px 0 rgba(black, .15));
    @include placeholder(color(text_tertiary));
    
    &[type="password"] { padding-right: 80px; }
    &[type="search"] {
        padding-right: 65px;
    
        &::-webkit-search-cancel-button,
        &::-ms-clear { display: none; }
    }

    &.is-error {
        border: color(error) solid 3px;
        border-radius: 0 0 5px 5px;
    }
}

span.is-error {
    @include size(100%, auto);
    display: block;
    padding: 0 15px;

    position: absolute;
    top: -30px; left: 0;

    background-color: color(error);
    border-radius: 5px 5px 0 0;

    color: white;
    font: {
        size: size(f7);
        weight: weight(bold);
    }

    text-align: left;
    line-height: 30px;
}

@include minquery(lg) {
    .tt-input {
        &:focus { outline: none; }
    }
}
