.Password {
    width: 100% !important;
    max-width: 270px !important;
    margin: 26px 0 0 !important;

    &__strength-meter {
        height: 5px !important;
        margin: 0 !important;
        border-radius: 5px !important;

        &::after,
        &::before {
            width: 21% !important;
        }

        &::before { left: 19% !important; }
        &::after { right: 18% !important; }
    }
}
